{% ckan_extends %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
	<h1 class="page-heading">
		{% block page_heading %}
			{{ _('Login') }}
		{% endblock %}
	</h1>
      <fieldset>
        <legend><h4>{{ _('Log in with Google/Github') }}</h4></legend>
        <div class="socialbtn-container">
          <div id="g-signin-button" class="socialbtn">
            <span class="google-icon"></span>
            <span class="button-text">Google</span>
          </div>
          <div id="github-button" onclick="login()">
            <span class="github-icon"></span>
            <span class="button-text">Github</span>
          </div>
          <div>
            <div class="fb-login-button socialbtn" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email" onlogin="checkLoginState();"></div>
          </div>
          <div class="socialbtn">
            <div id="in-btn-wrap">
              <a href="#" onclick="liAuth()" id="in-btn-link">
                <img src="/base/images/in-signin-btn.png" id="in-btn">
              </a>
            </div>
          </div>
        </div>
      </fieldset>
    

      <br><br>
      <fieldset>
        <legend>
          {% set auth_text = _("Log in with your {site_title} account") %}
        <h4>{{ auth_text.format(site_title=app_globals.site_title) }}</h4>
        </legend>
        {% block form %}
          {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
        {% endblock %}
      </fieldset>
    </div>
  </section>
{% endblock %}
