#g-signin-button {
 display: inline-block;
 background: #4285f4;
 color: white;
 width: 190px;
 border-radius: 5px;
 white-space: nowrap;
}

#g-signin-button:hover {
 cursor: pointer;
}

span.label {
 font-weight: bold;
}

span.button-text {
 display: inline-block;
 vertical-align: middle;
 padding-left: 32px;
 padding-right: 32px;
 font-size: 14px;
 font-weight: bold;
 /* Use the Roboto font that is loaded in the <head> */
 font-family: 'Roboto', sans-serif;
}
