{% ckan_extends %}



{% block styles %}
    <link rel="stylesheet" type="text/css" href="/base/css/github_button.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    {{ super() }}
{% endblock %}


{% block meta %}
{% set ci=h.github_get_clientid() %}
  {{ super() }}
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="928038731402-dr3jhqn0hvlokogkphf3fkk4dna8863u.apps.googleusercontent.com">

    <meta name="google-signin-hosted_domain" content="{{ hd }}">
{% endblock %}



{% block scripts %}
    <script src="https://apis.google.com/js/platform.js"></script>
    <script type="text/javascript" src="/base/js/googleauth.js"></script>
    <script>startApp();</script>
{% endblock %}
